NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=app-4b05c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=app-4b05c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=app-4b05c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

FIREBASE_PROJECT_ID=app-4b05c
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=app-4b05c.firebasestorage.app
NOSIS_API_KEY=
NOSIS_SANDBOX=true
